# ------------------------------------------------------------------------------
#  Symfony / PHP
# ------------------------------------------------------------------------------
/app/.env
/app/.env.dev
/app/.env.test
/app/vendor/
composer.phar
# Cache & logs v2 / v3
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
# Cache & logs v3 / v4
/var/cache/*
/var/log/*
/var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep
# Paramètres locaux
/app/config/parameters.yml
/app/config/parameters.ini
# Doctrine : backup fichiers ~
**/Entity/*~
# build
/build/
# PHPUnit
/phpunit.xml
/app/phpunit.xml

# ------------------------------------------------------------------------------
#  Node / Yarn / Vite
# ------------------------------------------------------------------------------
node_modules/
.yarn/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------------------------------------------------------
#  Docker & divers
# ------------------------------------------------------------------------------
docker-compose.override.yml
.docker/
.env.dist
*.pid
*.log
*.sqlite
.idea/
.vscode/

# ------------------------------------------------------------------------------
#  OS
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
/app/.env
