includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    # (optionnel) évite d'analyser var/ et vendor/
    excludePaths:
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*
